@font-face {
  font-family: "ProductSansRegular";
  src: local("ProductSansRegular"),
    url("./assets/fonts/Product-Sans-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: "ProductSansRegular", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
