.container {
  height: 7%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  flex: 1;
  transition: all 0.4s;
  cursor: pointer;
  margin: 0.2rem;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #008cba;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.02);
  background-color: #00b4f0;
}

.portfolioValue {
  font-weight: 500;
}
