.newsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  min-height: 60px;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.45em 0.7em;
  margin-bottom: 0.6em;
}

.newsCard:visited {
  text-decoration: none;
  color: black;
}

.newsCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  cursor: pointer;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}
