.stocksSystem {
   min-width: 22em;
   max-width: 45em;
   flex: 1;
   background-color: rgb(166, 225, 255);
}

.grid {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   list-style: none;
   flex: 0 0 33.333333%;
}

.stockContainer {
   display: flex;
   flex-direction: column;
   flex: 1;
}
