.stocksSystem {
  min-width: 22em;
  max-width: 45em;
  flex: 1;
  background-color: rgb(166, 225, 255);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  flex: 0 0 33.333333%;
}

.stockContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.portfolioGrid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolioPreview {
  display: flex;
  flex-direction: column;
  height: 96vh;
  width: 30%;
  background-color: white;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.listStocksPreview {
  display: flex;
  justify-content: center;
  background-color: white;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.stockPreview {
  height: 100vh;
  width: 70%;
  overflow-y: hidden;
}
