.displayContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  border-radius: 3px;
  box-shadow: 0 2px 4px white;
  background-color: rgba(255, 255, 255, 0.7);
}

.connectionTitles {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.connectionTitles div {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 5px;
  width: 35%;
  cursor: pointer;
}

.textLink {
  margin-top: 10px;
  color: black;
}
.textLink:hover {
  color: purple;
}
