.header {
  display: flex;
  align-items: center;
  height: 5em;
  gap: 2em;
  justify-content: space-between;
  width: 95%;
  background-color: white;
  padding: 0.8em 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.companyDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
}

.companyRevContainer {
  display: flex;
  align-items: center;
  gap: 3em;
}

.ticker {
  margin: 0;
  font-size: 3rem;
}

.stockName {
  margin: 0;
  font-size: 1rem;
}

.price {
  font-size: 1.1rem;
}

.buyPrice {
  font-size: 1.1rem;
}

.percentage {
  font-size: 1.5rem;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: white;
}

.percentageTotal {
  display: flex;
  gap: 0.4em;
  align-items: center;
}

.stockProfit,
.stockPercent {
  font-size: 1.1em;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  color: white;
}

.dateDescription {
  font-size: 1.2rem;
  font-weight: 650;
}

.profitContainer,
.todayContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  align-items: center;
}
.profitContainer {
  gap: 0.4em;
}
