.stockCard {
   display: flex;
   flex-direction: column;
   background-color: rgb(44, 150, 243);
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.2);
   padding: 10px;
   margin: 10px;
   height: 7em;
   width: 12em;
   align-items: center;
   gap: 1.2rem;
}
.ticker {
   font-size: 1.7rem;
   font-weight: 700;
   color: #000;
   margin: 0;
   padding: 0;
}

.name {
   font-size: 0.8rem;
   font-weight: 500;
   max-height: 1.2rem;
}

.numbersContainer {
   display: flex;
   gap: 2rem;
}

.price {
   font-size: 1.2rem;
   font-weight: 500;
}

.addButton {
   border: 0;
   padding: 0;
   background-color: rgb(113, 255, 85);
   width: 1.2em;
   height: auto;
   border-radius: 100%;
   position: relative;
   left: 6em;
   margin-top: -3.1em;
   transition: all 0.2s ease-in-out;
}

.addButton:hover {
   transform: scale(1.3);
   background-color: rgb(67, 255, 29);
   cursor: pointer;
}

.percentGreen,
.percentRed {
   font-size: 1.2rem;
   font-weight: 500;
}

.percentGreen {
   color: rgb(9, 255, 9);
}

.percentRed {
   color: rgb(167, 33, 33);
}
