.stockCard {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   min-height: 60px;
   width: 95%;
   align-items: center;
   transition: 0.4s;
   margin-bottom: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.stockCard:hover {
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   transform: scale(1.04);
   cursor: pointer;
}

.alignStockRow {
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 8px 0;
}

.ticker {
   font-size: 20px;
   font-weight: 700;
   color: #000;
}

.name {
   font-size: 12px;
   font-weight: 500;
}

.price {
   font-size: 20px;
   font-weight: 500;
}

.changePercent {
   font-size: 12px;
   border-radius: 3px;
   width: 50px;
   text-align: right;
   color: white;
}

.addButton {
   border: 0;
   padding: 0;
   background-color: rgb(113, 255, 85);
   width: 1.2em;
   height: auto;
   border-radius: 100%;
   position: relative;
   left: 6em;
   margin-top: -3.1em;
   transition: all 0.2s ease-in-out;
}

.addButton:hover {
   transform: scale(1.3);
   background-color: rgb(67, 255, 29);
   cursor: pointer;
}

.percentGreen,
.percentRed {
   font-size: 1.2rem;
   font-weight: 500;
}

.percentGreen {
   color: rgb(81, 234, 81);
}

.percentRed {
   color: rgb(208, 37, 37);
}
