.sidebarContainer {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  background-color: rgb(255, 255, 255);
  position: relative;
}

.categoryText {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 2em;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.sidebarLogo {
  width: 14em;
  height: auto;
}

.userGreeting {
  color: rgb(49, 49, 49);
  font-size: 1em;
  font-weight: 600;
  margin: -1.5em 0 3em 0;
  text-align: center;
}

#option {
  transition: all 0.4s;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1em;
  margin-left: 50px;
  color: black;
}

.alignCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 15px;
  cursor: pointer;
}

.alignSignOut {
  position: absolute;
  display: flex;
  justify-content: row;
  align-items: center;
  text-align: center;
  /* border: 2px solid green; */
  margin-left: 8%;
  bottom: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.arrowIcon {
  height: 20px;
  width: 20px;
}

.contentHeadLine {
  margin-left: 45px;
  margin-bottom: 14px;
  opacity: 70%;
  color: gray;
}
