.searchBarContainer {
   position: relative;
   /* border: 2px solid red; */
   display: flex;
   /* border: 2px solid red; */
}

.searchBarTextBox {
   width: 100%;
   padding: 5px 0px;
   padding-left: 8px;
   font-size: 20px;
   margin: 10px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: rgb(255, 255, 255);
}

.searchBarTextBox:focus {
   background-color: #f4fcff;
}

.searchIcon {
   width: 20px;
   height: 20px;
   position: absolute;
   right: 30px;
   top: 50%;
   transform: translate(0, -50%);
}
