.title {
  font-weight: 700;
  font-size: 70px;
  color: white;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 40px;
  }
}

.text {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 25px;
  color: #f2f2f2;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  .text {
    width: 70%;
  }
}

#option {
  transition: all 0.4s;
  padding: 12px 30px;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
}

.linksPosition {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .linksPosition {
    margin-top: 100px;
  }
}
.signInButton {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.signInButton:hover {
  background-color: rgb(219, 216, 216);
  color: #000;
}
.registerButton {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgb(3, 15, 126);
}
.registerButton:hover {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgb(82, 97, 229);
}
